.section-1{
    position: relative;
}

.background{
    width: 100%;
    margin: 0;
    padding: 0;
}
.buttons{
    position: absolute;
    font-family: arial;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    bottom: 200px;
    border: 1px solid red;
}

.telefon, .mail{
    font-size: 20px;
}

.telefon{
    margin-left: 60%;
}

.mail{
    margin-right: 60%;
}