a{
    text-decoration: none;
    color: black;
}

.menu-items, .burger-menu-list{
    list-style: none;
}

.logo{
    max-width: 100%;
}

/* Navbar */
.header{
    background: white;
    padding: 20px;
    width: 100%;
    position: fixed;
    z-index: 200;
    top: 0;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .menu-items li a img{
    height: 50px;
    padding: 0;
    margin: 0;
    justify-content: center;
    transition: opacity 0.2s;
}

.header .menu-items li a:hover {
    color:  red;
    cursor: pointer;
}

.header .menu-items li a img:hover{
    opacity: 0.7;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

.header button{
    font-size: 20px;
    font-weight: 600;
    width: 119px;
    color: white;
    background-color: rgb(250 0 0);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: box-shadow 0.2s, opacity 0.2s;
}

.header button:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.header button:active{
    opacity: 0.6;
}

@media screen and (min-width: 20.0000001cm) {
    .header .main-menu .menu-items{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header .menu-items li a{
        padding: 10px 20px;
        display: block;
        font-weight: 600;
        transition: 0.5s;
        font-size: 20px;
    }

    .burger-menu{
        display: none;
    }
}

@media screen and (max-width: 20cm) {
    .main-menu{
        display: none;
    }

    .burger-menu{
        display: inline-block;
        object-fit: contain;
        margin-right: 40px;
        cursor: pointer;
    }

    .burger-menu-list{
        position: absolute;
        right: -300px;
        top: 90px;
        width: 220px;
        height: 1000px;
        padding-left: 20px;
        background-color: white;
        font-size: 20px;
        font-weight: 600;
        transition: right 0.3s ease;
    }

    .burger-menu-list button{
        width: 150px;
        height: 50px;
    }

    .burger-menu-list li a{
        margin-top: 20px;
        display: block;
        transition: color 0.2s, opacity 0.2s;
    }

    .burger-menu-list li a:hover{
        color:  red;
        cursor: pointer;
    }

    .burger-menu-list li a:active{
        opacity: 0.7;
    }

    .burger-menu-list li a img{
        width: 100px;
    }

}