a{
    text-decoration: none;
    color: black;
}

.menu-items{
    list-style: none;
}

.logo{
    max-width: 100%;
}

/* Navbar */
.header{
    background: white;
    padding: 20px;
    width: 100%;
    position: fixed;
    z-index: 200;
    top: 0;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .main-menu .menu-items{
    display: flex;
}

.header .menu-items li a{
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
    font-size: 20px;
}

.header .menu-items li a:hover {
    color:  red;
    cursor: pointer;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

.header button{
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: rgb(250 0 0);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: box-shadow 0.2s, opacity 0.2s;
}

.header button:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.header button:active{
    opacity: 0.6;
}