@media screen and (max-width: 20cm) {
    .overlay-text{
        font-size: 30px;
        bottom: 50%;
    }

    .background{
        height: 300px;
        object-fit: cover;
    }

    .buttons{
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 10px;
        bottom: 10%;
    }

    .mail{
        margin-top: 10px;
    }

    .section-2{
        display: block;
    }

    .section-2-img{
        margin-left: 0;
    }

    .section-2-img .side-img{
        height: 400px;
        object-fit: cover;
    }

    .bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .bottom .body-text{
        width: 100%;
    }

    .bottom .head{
        font-size: 25px;
    }
    
    .facebook{
        margin-bottom: 10px;
    }

    .gallery-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 15cm){
    .gallery-grid{
        grid-template-columns: 1fr;
    }
}